/*!
 * O___o
 */

 .popover-title {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
}

.popover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 1);
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0);
  }

.modal-content {
    background-color: rgba(0, 0, 0, 0.50);
    color: rgba(255, 255, 255, 1);
  }


/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #fff;
    color: #fff;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fff;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #fff;
    color: #fff;
    box-shadow: none;
}

input {
    background-color: rgba(0, 0, 0, 0.5);
  }


/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
